<%#
# Telephone Form Partial
This partial renders an input element for telephone attributes.
By default, the input is a text field.
## Local variables:
- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::Telephone][1].
  A wrapper around the number pulled from the database.
%>

<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.telephone_field field.attribute %>
</div>
